* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: right;
}

.box {
  border: 1px solid black; 
  margin: 10px; 
  position: relative;
  width: 400px;
  height: 300px;
}

.title-box {
  width: 150px;
  text-align: center;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  margin: 0px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  
}

p {
  margin-top: 90px;
  margin-bottom: 0px;
  height: 135px;
  font-family: Helvetica;
  overflow:auto;
}

#HTML {
  background-color: red;
  color: white;
}
#CSS {
  background-color: blue;
  color: white;
}

#JS {
  background-color: yellow;
  color: black;
}

#main {
  background-color: chartreuse;
}

  #third{
  float: right;
}